<!DOCTYPE html>
<html lang="en">
	<head>
		<% include layout %>
	</head>
	
	<body>

	<!-- Facebook like button -->
	<script>(function(d, s, id) {
  		var js, fjs = d.getElementsByTagName(s)[0];
  		if (d.getElementById(id)) return;
  		js = d.createElement(s); js.id = id;
  		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=309667242450387&version=v2.0";
  		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

		<!-- Navigation -->
		<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
		<nav id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
				<li class="sidebar-brand">
					<a href="#top">BCA</a>
				</li>
				<li>
					<a href="#top">Home</a>
				</li>
				<li>
					<a href="#about">About Us</a>
				</li>
				<li>
					<a href="#faq">FAQ</a>
				</li>
				<li>
					<a href="#portfolio">Photos</a>
				</li>
				<li>
					<a href="#contact">Contact</a>
				</li>
			</ul>
		</nav>

		<!-- Header -->
		<header id="top" class="header">
			<div class="text-vertical-center">
				<h1>Brooklyn College Awareness</h1>
				<br>
				<a href="#about" class="btn btn-light btn-lg"><b>Tell Me More</b></a>
			</div>
		</header>

		<!-- About -->
		<section id="about" class="about">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<h1 class="text-center title"> 
							<b>About Us</b>
						</h2>
						<hr class="small">
						<p class="lead"> We as a nation suffer from a college attainment gap. Low-income students face considerable barriers to college awareness, access, and success. And as a post-secondary education has become increasingly important in today's society, large gaps in education achievement still remain between students from low-income families and their high-income peers. <br><br>
						
						Every Spring and Fall Break, we lead a weeklong community service trip to New York City. There, we work with Brooklyn high school students, many of whom are first generation college applicants or come from disadvantaged backgrounds. Trip participants will also have the opportunity to witness inner-city public education and learn about education reform all the way from the policy level to neighborhoods in Brooklyn. <br><br>

						Our core mission is to help these students achieve <b>brighter futures</b> by encouraging and inspiring them to continue their education beyond high school. <br><br>

						<!-- <a class="btn btn-success btn-lg text-center" href="https://docs.google.com/forms/d/1cOvArziLvw6J4ZcsyIDAdQIQbW7LUjDemJuG_w1Vq4Y/viewform" target="_blank">Apply Today</a> -->
						<div class="fb-like" data-href="http://www.brooklyncollegeawareness.org/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-colorscheme="light"></div>
					</div>
				</div>
			</div>
		</section>

		<!-- FAQ -->
		<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
		<section id="faq" class="faq bg-primary">
			<div class="container">
				<div class="row">
					<h1 class="text-center title">
						<b>Frequently Asked Questions</b>
					</h1>
					<hr class="small">
					<div id="accordion" style="padding-left:10%; padding-right:10%">
						<h3>I. What are you looking for in applicants?</h3>
						<div>
							<p>
								We love enthusiastic, passionate applicants who can strongly connect with the students that we work with. Prior experience with teaching and community service is also a huge plus. 
							</p>
					  	</div>
					  
					  	<h3>II. How many applicants do you usually end up accepting?</h3>
					  	<div>
							<p>
							For our fall trip, we usually take between 40%-60% of those who apply. Fewer 
							people apply in the spring so for our spring trip, we usually take
							between 80%-90%. We give precedence to past trip participants and applicants
							who previously applied but did not get in. Including leaders, trips usually consist of 14-16 participants. 
							</p>
					  	</div>
					  	
					  	<h3>III. How much does the trip cost me?</h3>
					  	<div>
							<p>
							All trip participants must pay a $50 fee that covers all food, accomodation, and transportation expenses for the week
							in New York City. We're able to keep costs low for participants because we're funded by Princeton ReachOut, an alumni organization dedicated to global community service. 
							</p>
					  	</div>
					  
					  	<h3>IV. What exactly will I do when I'm working with high school students?</h3>
					  	<div>
							<p>
							A lot! We'll organize discussions, revise college essays, perform SAT tutoring, help select which colleges to apply to, and more. In our pre-trip meetings, we'll help you prepare for the work we do. Oh and though they'll be shy at first, the students you'll work with are extremely fun and really appreciate the time you spend with them.
							</p>                    
					  	</div>
					  
					  	<h3>V. What do we do after we finish working with the students each day?</h3>
					  	<div>
							<p>
							We'll be at the high school from morning to early afternoon. Afterwards, we all go explore Brooklyn and New York City as a group to (1) bond as a group, (2) experience Brooklyn as well as New York City culture, and (3) have fun! Past activities have included talking a stroll in Prospect Park, watching a poetry slam at the Nuyorican, taking in the scenery at the Brooklyn Bridge, singing karaoke, and shopping in Times Square. 
							Before calling it a day, we'll gather as a group and debrief what we did and experienced at the schools. 
							</p>                    
					  	</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Portfolio -->
		<section id="portfolio" class="portfolio">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<h1 class="text-center title">
							<b>Past Trip Photos</b>
						</h1>
						<hr class="small">
						<div class="row">
							<div class="col-md-6">
								<div class="image-foo">
									<img class="img-portfolio" src="/images/portfolio-1.jpg">
									<h3 class="foo lead"><span>Spring 2013</span></h3>
								</div>
							</div>
							<div class="col-md-6">
								<img class="img-portfolio img-responsive" src="/images/portfolio-2.jpg">
								<h3 class="foo lead"><span>Fall 2013</span></h3>
							</div>
							<div class="col-md-6">
								<img class="img-portfolio img-responsive" src="/images/portfolio-3.jpg">
								<h3 class="foo lead"><span>Spring 2014</span></h3>
							</div>
							<div class="col-md-6">
								<img class="img-portfolio img-responsive" src="/images/portfolio-4.jpg">
								<h3 class="foo lead"><span>Fall 2014</span></h3>
							</div>

							<div class="col-md-6">
								<img class="img-portfolio img-responsive" src="/images/portfolio-5.jpg">
								<h3 class="foo lead"><span>Spring 2015</span></h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!-- Footer -->
		<section id ="contact" class="contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-10 col-lg-offset-1 text-center">
						<i class="fa fa-graduation-cap fa-4x"></i>
						<h2><strong>Brooklyn College Awareness</strong></h2>
						<ul class="list-unstyled">
							<li>
								<i class="fa fa-envelope-o fa-fw"></i>  
								<a href="mailto:collegeawarenessbrooklyn@gmail.com">Contact</a> &nbsp; | &nbsp; <i class="fa fa-facebook-official fa-fw"></i> <a href="http://www.facebook.com/BrooklynCollegeAwareness" target="_blank">Facebook</a> &nbsp; | &nbsp; &copy; Brooklyn College Awareness 2015
							</li>
						</ul>
					</div>
				</div>
				
			</div>
		</section>

		<!-- JQuery and Bootstrap JS-->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

		<!-- Custom Theme JavaScript -->
		<script>
			// Facebook
			(function(d, s, id) {
  				var js, fjs = d.getElementsByTagName(s)[0];
  				if (d.getElementById(id)) return;
  				js = d.createElement(s); js.id = id;
  				js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=309667242450387&version=v2.0";
  				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));


			// Google Analytics
		  	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  	ga('create', 'UA-43171503-2', 'auto');
		  	ga('send', 'pageview');

			// Closes the sidebar menu
			$("#menu-close").click(function(e) {
				e.preventDefault();
				$("#sidebar-wrapper").toggleClass("active");
			});

			// Opens the sidebar menu
			$("#menu-toggle").click(function(e) {
				e.preventDefault();
				$("#sidebar-wrapper").toggleClass("active");
			});

			// Scrolls to the selected menu item on the page
			$(function() {
				$('a[href*=#]:not([href=#])').click(function() {
					if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
						if (target.length) {
							$('html,body').animate({
								scrollTop: target.offset().top
							}, 1000);
							return false;
						}
					}
				});
			});

			// For collapsible FAQ
			$(function() {
				$( "#accordion" ).accordion({collapsible: true, heightStyle: "content", active: false});
			});

		</script>
	</body>
</html>

